:root {
  --white: #FFF;
  --black: #000;
  --dark: #0A1F2F;
  --gray0: #000000;
  --gray1: #02121d;
  --gray2: #0a1e2d;
  --gray3: #1c3648;
  --gray4: #a1a1a1;
  --gray6: #c1c7cb;
  --gray9: #fffefa;
  --primary3: #127778;
  --primary5: #28dbd1;
  --border-radius: 4px;
  --font: KohinoorBangla, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "KohinoorBangla";
  font-weight: 300;
  src: url("/fonts/KohinoorBangla-Light.woff") format("woff");
}
@font-face {
  font-family: "KohinoorBangla";
  font-weight: 400;
  src: url("/fonts/KohinoorBangla-Regular.woff") format("woff");
}
@font-face {
  font-family: "KohinoorBangla";
  font-weight: 500;
  src: url("/fonts/KohinoorBangla-Medium.woff") format("woff");
}
@font-face {
  font-family: "KohinoorBangla";
  font-weight: 700;
  src: url("/fonts/KohinoorBangla-Bold.woff") format("woff");
}

html, body {
  padding: 0;
  margin: 0;
  color: var(--gray9);
  background: var(--gray1);
  line-height: 1.4;
  font-size: 18px;
  font-family: var(--font);
  font-weight: 300;
}

@media only screen and (max-width: 1199px) {
  html, body {
    font-size: 15px;
  }
}

*, *:before, *:after { box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--primary5);
  cursor: pointer;
}

.title {
  font-size: 38px;
  font-weight: 300;
  margin: 0 0 24px;
}
h2.title {
  font-size: 24px;
}

@media only screen and (max-width: 992px) {
  .title {
    font-size: 26px;
    margin-bottom: 12px;
  }
  h2.title {
    font-size: 20px;
  }
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.icon {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.icon svg {
  transition: fill .3s ease;
}

a:hover .icon svg {
  fill: var(--primary5);
}

.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-1 { flex: 1; }
.text-sm { font-size: 14px; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-gray6 { color: var(--gray6); }
.text-primary5 { color: var(--primary5); }
.clear:after { clear: both; content: ' '; display: table-cell; }
.float-right { float: right; }
.w-full { width: 100%; }
.h-full { height: 100%; }
.ma-0 { margin: 0; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 12px; }
.mt-4 { margin-top: 16px; }
.mt-6 { margin-top: 24px; }
.mb-0 { margin-bottom: 0px; }
.mb-2 { margin-bottom: 8px; }
.mb-3 { margin-bottom: 12px; }
.mb-4 { margin-bottom: 16px !important; }
.mb-8 { margin-bottom: 32px; }
.ml-2 { margin-left: 8px; }
.ml-4 { margin-left: 16px; }
.ml-8 { margin-left: 32px; }
.mr-2 { margin-right: 8px; }
.mr-4 { margin-right: 16px; }
.mr-5 { margin-right: 20px; }
.mr-8 { margin-right: 32px; }
.py-16 { padding: 64px 0 !important; }

.error {
  color: #fee2e2;
  background: #b91c1c;
  padding: 12px 16px;
  margin-bottom: 16px;
  border-radius: var(--border-radius);
  word-wrap: break-word;
}
.success {
  color: #dff0d8;
  background: #3c763d;
  padding: 12px 16px;
  margin-bottom: 16px;
  border-radius: var(--border-radius);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--gray3);
  background: var(--primary5);
  padding: 8px 26px;
  font-size: 18px;
  font-family: var(--font);
  font-weight: normal;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all .3s ease;
  img, svg {
    margin-right: 9px;
  }
}
.button:hover {
  opacity: 0.8;
  color: var(--gray3);
  background: var(--primary5);
  cursor: pointer;
}
.button[disabled] {
  color: var(--gray3);
  opacity: 0.6;
  cursor: not-allowed;
}
.button-outline {
  color: var(--primary5);
  border: 1px solid var(--primary5);
  background: transparent;
  padding: 7px 25px;
  &[disabled] {
    color: var(--primary5);
  }
  &.button-white {
    color: var(--white);
    border-color: var(--white);
    &:hover {
      background-color: transparent;
    }
  }
}
.button-lg {
  padding: 12px 26px;
  &.button-outline {
    padding: 11px 25px;
  }
}

.button-sm {
  font-size: 14px;
  padding: 4px 26px;
  &.button-outline {
    padding: 3px 25px;
  }
}

.button-xs {
  font-size: 12px;
  padding: 7px 15px;
  border-radius: 2px;
}

@media only screen and (max-width: 1199px) {
  .button {
    font-size: 15px;
  }
}

.label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.label a {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}
.input {
  color: var(--gray9);
  font-size: 16px;
  font-family: var(--font);
  border: 1px solid var(--gray3);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  background: var(--gray1);
}
.input:focus {
  outline: 0;
}
.input-with-link {
  position: relative;
}
.input-with-link .input {
  padding-right: 48px;
}
.input-link {
  color: var(--primary5);
  position: absolute;
  top: 15px;
  right: 16px;
}

.progress {
  position: relative;
  height: 6px;
  width: 100%;
  border-radius: 5px;
  background: var(--gray3);
  &.with-foot {
    margin-bottom: 28px;
  }
  &-bar {
    height: 6px;
    border-radius: 4px;
    background: var(--primary5);
  }
  &-foot {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(#FFF, .5);
    span:last-child {
      text-align: right;
    }
  }
  &-value {
    color: var(--primary5);
    margin-right: 4px;
  }
}

.nav a {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255,255,255,.5);
  margin-right: 40px;
  transition: color .3s ease;
}

@media only screen and (max-width: 1199px) {
  .nav a {
    font-size: 15px;
    margin-right: 26px;
  }
}

.nav a:hover {
  color: white;
}

@media only screen and (max-width: 1199px) {
  .logo {
    width: 200px;
  }
}

.layout-header-container,
.layout-content,
.layout-footer {
  padding: 0 50px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

@media only screen and (max-width: 1199px) {
  .layout-header-container,
  .layout-content,
  .layout-footer {
    padding: 0 24px;
  }
}

@media only screen and (max-width: 576px) {
  .layout-header-container {
    flex-wrap: wrap;
    padding-top: 24px !important;
  }
  .layout-header-container .nav {
    order: 3;
    text-align: center;
    min-width: 100%;
    margin-top: 12px;
  }
  .nav a:last-child {
    margin-right: 0;
  }
  .logo {
    width: 150px;
  }
}

.voting-row {
  display: grid;
  grid-template-columns: 1.55fr 1.45fr;
  grid-gap: 30px;
}

@media only screen and (max-width: 1439px) {
  .voting-row {
    grid-template-columns: 1.7fr 1.3fr;
  }
}
@media only screen and (max-width: 1279px) {
  .voting-row {
    grid-template-columns: 1.85fr 1.15fr;
  }
}
@media only screen and (max-width: 1199px) {
  .voting-row {
    grid-template-columns: 1fr;
  }
}

.box {
  min-width: 0;
  padding: 28px;
  /*border: 1px solid var(--primary3);*/
  /*border-radius: var(--border-radius);*/
  background-color: #082131;
  border-radius: 12px;
}

@media only screen and (max-width: 767px) {
  .box {
    padding: 20px;
  }
}

.layout-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 54px;
}

.layout-header-network {
  padding: 4px 4px 4px 16px;
  background: var(--gray3);
  border-radius: var(--border-radius);
}
.layout-header-network-unsupported {
  color: #fee2e2;
  background: #b91c1c;
}
.layout-header-network .button {
  margin-left: 16px;
  min-width: 180px;
}

@media only screen and (max-width: 1199px) {
  .layout-header-container .button {
    min-width: unset;
  }
}

.layout-footer {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

/*.layout-footer a {*/
/*  display: inline-block;*/
/*  margin: 8px 16px 8px 0;*/
/*  color: var(--gray4);*/
/*}*/

.footer-socials {
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer-socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 50%;
}

.footer-socials a:not(:last-child) {
  margin-right: 24px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 16px;
}

.footer-links a {
  color: rgba(255,255,255,.4);
  transition: color .3s ease;
}

.footer-links a:hover {
  color: white;
}

.footer-links a:not(:last-child) {
  margin-right: 26px;
}

.ido-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media only screen and (max-width: 1199px) {
  .ido-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .ido-list {
    grid-template-columns: 1fr;
  }
}

.ido {
  /*width: calc(50% - 8px);*/
  padding: 32px;
  /*margin: 0 16px 16px 0; */
  border: 1px solid var(--primary3);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}
.ido:nth-child(2n) {
  margin-right: 0;
}
.ido h2 {
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 8px;
}
.ido-cover {
  padding: 24px 16px;
  margin: -16px -16px 16px;
  border-radius: var(--border-radius);
  text-align: center;
}
.ido-links {
  margin-bottom: 16px;
  a {
    display: inline-block;
    font-size: 0;
    margin-right: 8px;
    &:hover svg {
      fill: var(--primary5);
    }
  }
  svg {
    transition: fill .3s ease-in-out;
  }
}

.vesting-ido {
  font-size: 18px;
  line-height: 1.8;
}
.vesting-ido-cover {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 38px;
  line-height: 1.4;
  padding: 48px 32px;
  /*margin: -16px -16px 16px;*/
  margin-bottom: 24px;
  border-radius: 12px;
}
.vesting-ido-cover-title {
  margin: 0 16px 0 24px;
}
.vesting-ido-cover-date {
  margin-left: auto;
  padding: 8px;
  font-size: 16px;
  height: 32px;
  line-height: 16px;
  background: var(--gray3);
  border-radius: var(--border-radius);
}
.vesting-ido h3 {
  margin: 0 0 12px;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .vesting-ido-cover {
    padding: 32px 16px;
  }
  .vesting-ido-logo {
    display: none;
  }
  .vesting-ido-cover-title {
    margin: 0;
    font-size: 32px;
  }
  .vesting-ido > .flex {
    display: block;
    font-size: 15px;
  }
  .vesting-ido > .flex > *:not(:last-child) {
    margin-bottom: 24px;
  }
  .vesting-ido .mr-8 {
    margin-right: 0;
  }
}

.governance-nav {
  border-bottom: 1px solid var(--gray3);
  overflow-x: auto;
  white-space: nowrap;
}
.governance-nav a {
  display: inline-block;
  color: var(--gray6);
  padding: 12px 16px;
  border-bottom: 2px solid transparent;
}
.governance-nav a.active {
  color: var(--gray9);
  border-bottom-color: var(--primary5);
}

.coming-soon {
  font-size: 38px;
  padding: 120px 40px;
  text-align: center;
  color: var(--gray6);
  background-color: var(--gray3);
  border-radius: var(--border-radius);
}

.loading-overlay {
  z-index: 1;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.live-ido-title {
  margin-bottom: 24px;
}

.live-ido-title .float-right span {
  font-size: 18px;
  line-height: 54px;
  margin-right: 16px;
}

.live-ido-card {
  align-self: stretch;
  flex: 0 0 32%;
  margin-right: 32px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 1199px) {
  .live-ido-card {
    flex: 0 0 36%;
  }
}

.live-ido-card .ido {
  width: 100%;
  height: 100%;
}
.live-ido-info {
  align-self: stretch;
  padding: 32px;
  margin-bottom: 32px;
  border: 1px solid var(--primary3);
  border-radius: var(--border-radius);
  background-color: var(--gray3);
  background-size: cover;
  background-position: center center;
  min-height: 460px;
}
.live-ido-info-logo {
  margin-bottom: 16px;
}

.live-ido-info-links {
  margin-top: 12px;
}
.live-ido-info-links a {
  /*margin-right: 6px;*/
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.live-ido-info-links a:not(:last-child) {
  margin-right: 18px;
}

.live-ido-info-links a span:not([class]) {
  margin-left: 8px;
}

@media only screen and (max-width: 992px) {
  .live-ido {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
  }
  .live-ido-card {
    margin: 0;
  }
  .live-ido-info {
    margin-bottom: 12px;
  }
  .live-ido-title {
    text-align: center;
  }
  .live-ido-title .float-right {
    float: none;
    display: block;
  }
  .live-ido-title .float-right span {
    margin-right: 0;
  }
  .live-ido-title .countdown {
    justify-content: center;
  }
}

.countdown {
  display: flex;
}
.countdown-cell {
  text-align: center;
  margin-left: 8px;
}
.countdown-cell-number {
  margin: 0 auto 4px;
  padding: 4px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 32px;
  background: var(--gray2);
  border-radius: var(--border-radius);
}
.countdown-cell-label {
  font-size: 12px;
  color: var(--gray4);
}
.countdown-warning {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 14px;
}

.countdown-string {
  font-size: 14px;
  line-height: 1;
  color: var(--white);
}

.modal {
  z-index: 1;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
}
.modal-content {
  width: 95%;
  max-width: 800px;
  background: var(--gray3);
  border-radius: var(--border-radius);
  padding: 32px;
  margin: 5vh auto;
}
.modal-content h2 {
  margin-top: 0;
}

.nav-buttons {
  background-color: var(--gray1);
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 32px;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-buttons a {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav-buttons a.text-primary5 {
  background-color: var(--gray2);
}

.nav-buttons a:not(:last-child) {
  margin-right: 4px;
}

@media only screen and (max-width: 767px) {
  .footer-buttons .button {
    display: block;
    margin-right: 0;
    text-align: center;
    margin-bottom: 8px;
  }
}

.flex-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  .title {
    margin-bottom: 0;
  }
  @media only screen and (max-width: 992px) {
    margin-bottom: 12px;
  }
}

.apy-label {
  font-size: 24px;
  strong {
    font-weight: 500;
    color: var(--primary5);
  }
}

.tiers-upcoming-ido {
  padding: 32px;
  border-radius: 8px;
  background: #0A1F2F;
  margin: 32px 0 0;
}
.tiers-upcoming-ido h2 {
  margin: 0 0 16px;
}
.tiers-upcoming-ido p {
  margin: 0 0  16px;
}
.tiers-upcoming-ido .flex {
  align-items: center;
}
.tiers-upcoming-ido table {
  width: 100%;
  margin: 8px 0 0;
  border-collapse: collapse;
}
.tiers-upcoming-ido table td, .tiers-upcoming-ido th {
  font-size: 14px;
  text-align: center;
  padding: 8px 16px;
}
.tiers-upcoming-ido th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.tiers-wrapper {
  border: 1px solid #1C3548;
  border-radius: 10px;
  padding: 80px 40px 40px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    text-align: center;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    border-radius: 10px;
    border: 1px solid var(--primary5);
    &.is-active {
      background-color: var(--primary5);
      box-shadow: 0 0 30px rgba(#42FFA1, .5);
      color: var(--gray1);
    }
  }
  &__caption {
    font-size: 18px;
    line-height: 31px;
    text-transform: uppercase;
    color: var(--primary5);
    background-color: var(--dark);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 12px;
  }
  &__sum {
    font-size: 28px;
  }
  &__foot {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__num {
    font-size: 18px;
    background-color: var(--dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 56px;
      height: 56px;
      border: 1px solid var(--dark);
      border-radius: 50%;
      pointer-events: none;
    }
    &.is-active {
      color: #000;
      background-color: var(--primary5);
      &:before {
        border-color: var(--primary5);
      }
    }
  }
  &__subtext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 16px;
  }
  &__line {
    height: 8px;
    background-color: var(--dark);
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
  }
  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(40, 219, 209, 0.1) 0%, #28DBD1 100%);
    border-radius: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--primary5);
      border: 7px solid var(--gray1);
      box-shadow: 0 0 10px rgba(40, 219, 209, 0.5);
      box-sizing: border-box;
    }
  }
  &__data {
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: calc(100% + 16px);
    right: 0;
    transform: translateX(50%);
    width: 130px;
    span {
      display: block;
      font-size: 24px;
      line-height: 1.2;
      color: var(--primary5);
    }
  }
  @media only screen and (max-width: 992px) {
    &__grid {
      grid-gap: 8px;
    }
    &__block {
      height: 80px;
    }
    &__caption {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 4px;
    }
    &__sum {
      font-size: 18px;
    }
    &__num {
      font-size: 12px;
      width: 28px;
      height: 28px;
      &:before {
        width: 42px;
        height: 42px;
      }
    }
    &__subtext {
      font-size: 12px;
      left: -20px;
    }
  }
  @media only screen and (max-width: 767px) {
    &__grid {
      grid-template-columns: 1fr;
      grid-gap: 32px;
    }
    &__subtext {
      display: none;
    }
  }
}

.page-section {
  margin-top: 72px;
  .title {
    font-size: 32px;
  }
}

.default-table {
  margin-bottom: 40px;
  table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    th, td {
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }
    }
    th {
      font-size: 16px;
      font-weight: 400;
      color: rgba(#FFF, .5);
      text-align: center;
      padding: 0 0 10px;
      &:first-child {
        text-align: left;
      }
      &:not(:last-child) {
        padding-right: 30px;
      }
    }
    tr {
      &:first-child {
        td {
          &:first-child {
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
      &:not(:last-child) td {
        border-bottom: 1px solid #213849;
      }
    }
    td {
      font-size: 20px;
      padding: 12px 0;
      background-color: var(--dark);
      height: 76px;
      text-align: center;
      &.tar {
        text-align: right;
      }
      &:first-child {
        text-align: left;
      }
      &:not(:last-child) {
        padding-right: 30px;
      }
      .button:not(:last-child) {
        margin-right: 20px;
      }
      .button-sm {
        padding-left: 0;
        padding-right: 0;
        min-width: 110px;
        margin-top: 8px;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    table td {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 767px) {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  .default-table table td {
    height: 90px;
  }
  @media only screen and (max-width: 992px) {
    display: block;
  }
}

.copier {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  word-break: break-all;
  font-size: 18px;
  line-height: 1.15;
  color: var(--primary5);
  cursor: pointer;
  &.is-copied {
    svg {
      transform: scale(0.75);
    }
  }
  span {
    border-bottom: 1px solid var(--primary3);
  }
  svg {
    transform: scale(1);
    will-change: transform;
    transition: transform .3s ease-in-out;
    margin: -2px 0 0 15px;
  }
}

.fill-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.45;
  color: var(--primary5);
  height: 28px;
  background-color: var(--gray1);
  padding: 0 11px;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary5);
    margin-right: 5px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  font-size: 18px;
  line-height: 1.35;
  &.justified td:last-child {
    text-align: right;
  }
  th {
    text-align: left;
    font-weight: 400;
    background-color: var(--dark);
    padding: 20px 25px;
  }
  td {
    padding: 18px 25px;
    word-break: break-word;
    &:first-child {
      opacity: .5;
      width: 35%;
    }
  }
  tr:not(:last-child) td {
    border-bottom: 2px solid var(--dark);
  }
  @media only screen and (max-width: 1279px) {
    font-size: 16px;
  }
}

.progress-slider {
  height: 6px;
  background-color: var(--primary5);
  position: relative;
  &:before, &:after {
    content: '';
    width: 14px;
    height: 14px;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: calc(50% - 7px);
    border-radius: 50%;
  }
  &:before {
    background-color: var(--dark);
    border-color: var(--gray1);
    left: -1px;
  }
  &:after {
    background-color: var(--gray1);
    border-color: var(--primary5);
    right: -1px;
  }
  &__fill {
    background-color: var(--gray1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    &.is-stared:before {
      right: -16px;
    }
    &.is-ended:before {
      right: -6px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: calc(50% - 12px);
      right: -12px;
      width: 24px;
      height: 24px;
      background: url('/icons/slider-angle.svg');
    }
  }
}
